Repository mindroom-ai/mindroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript-check, check-package-lock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-yaml
      - id: debug-statements
      - id: check-ast

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.12.5"
    hooks:
      - id: ruff
        exclude: docs/source/conf.py|ipynb_filter.py
        args: ["--fix", "--exit-non-zero-on-fix"]
      - id: ruff-format
        exclude: docs/source/conf.py|ipynb_filter.py

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        files: ^src/|^matrix-ai-minimal/
        exclude: docs/source/conf.py
        pass_filenames: false
        args: [src]

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.6.0"
    hooks:
      - id: pyproject-fmt

  # TypeScript/JavaScript hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^widget/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
        exclude: ^(widget/frontend/package-lock\.json|widget/frontend/tsconfig.*\.json|.*\.min\.(js|css))$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: ^widget/frontend/.*\.(js|jsx|ts|tsx)$
        args: ['--fix', '--config', 'widget/frontend/.eslintrc.json']
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/eslint-plugin@6.19.0'
          - '@typescript-eslint/parser@6.19.0'
          - 'eslint-plugin-react@7.33.2'
          - 'eslint-plugin-react-hooks@4.6.0'
          - 'eslint-config-prettier@9.1.0'
          - 'typescript@5.3.3'

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd widget/frontend && npm run type-check'
        language: system
        files: ^widget/frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: check-package-lock
        name: Check package-lock.json is up to date
        entry: bash -c 'cd widget/frontend && npm ls >/dev/null 2>&1'
        language: system
        files: ^widget/frontend/package\.json$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
        files: ^widget/frontend/.*\.json$
        exclude: ^(widget/frontend/tsconfig.*\.json)$
      - id: pretty-format-json
        args: ['--autofix', '--indent=2']
        files: ^widget/frontend/.*\.json$
        exclude: ^(widget/frontend/package(-lock)?\.json|widget/frontend/tsconfig.*\.json|widget/frontend/\.eslintrc\.json)$

refactor(memory): simplify memory storage with thread context
  src/mindroom/memory/functions.py
Due: mypy

fix(integrations): ensure Google tools refresh immediately after OAuth completion
  widget/frontend/src/components/Integrations/Integrations.tsx
Due: typescript-check

refactor(auth): Implement generic auth_provider for tool integrations
  mindroom/tools_metadata.json
  src/mindroom/tools/gmail.py
  src/mindroom/tools/google_calendar.py
  src/mindroom/tools/google_sheets.py
  src/mindroom/tools_metadata.py
  widget/backend/src/api/tools.py
  widget/frontend/src/components/AgentEditor/AgentEditor.test.tsx
  widget/frontend/src/components/AgentEditor/AgentEditor.tsx
  widget/frontend/src/components/Integrations/EnhancedConfigDialog.tsx
  widget/frontend/src/components/Integrations/Integrations.test.tsx
  widget/frontend/src/components/Integrations/Integrations.tsx
  widget/frontend/src/hooks/useTools.ts
  widget/frontend/src/lib/googleTools.ts
Due: mypy, typescript-check

feat(tools): Add Google Calendar and Sheets credential wrappers
  src/mindroom/custom_tools/__init__.py
  src/mindroom/custom_tools/google_calendar.py
  src/mindroom/custom_tools/google_sheets.py
  src/mindroom/tools/google_calendar.py
  src/mindroom/tools/google_sheets.py
Due: mypy

feat(google_integration): Add Google Sheets integration
  widget/backend/src/api/google_integration.py
Due: none

refactor: Remove hardcoded tool list and outdated Google services documentation
  widget/GOOGLE_SERVICES.md
  widget/frontend/src/components/AgentEditor/AgentEditor.test.tsx
  widget/frontend/src/components/Integrations/Integrations.test.tsx
  widget/frontend/src/components/Integrations/Integrations.tsx
  widget/frontend/src/types/config.ts
Due: typescript-check

fix(integration): Fix Google Sheets OAuth scope and update tests
  tests/test_cli.py
  tests/test_matrix_agent_manager.py
  widget/frontend/src/components/Integrations/Integrations.test.tsx
Due: typescript-check

test: Skip tool tests if optional dependencies are missing
  tests/test_tool_config_sync.py
  tests/test_tool_dependencies.py
Due: none

revert(test): Remove exception handling for missing dependencies in test_tool_config_sync.py
  tests/test_tool_config_sync.py
Due: none

chore(tools): Remove newspaper tool
  mindroom/tools_metadata.json
  pyproject.toml
  src/mindroom/tools/__init__.py
  src/mindroom/tools/newspaper.py
  uv.lock
Due: mypy

test: Use startswith for password assertion and remove optional dependency prints
  tests/test_matrix_agent_manager.py
  tests/test_tool_dependencies.py
Due: none

chore(tools): Remove unused Google tools authentication code
  tests/test_tool_dependencies.py
  widget/backend/src/api/google_tools_helper.py
Due: none

refactor(memory): Use role-based messages for memory storage
  src/mindroom/bot.py
  src/mindroom/memory/functions.py
  tests/test_memory_functions.py
Due: mypy

chore(deps): Remove newspaper3k and update lock file revision
  widget/backend/uv.lock
Due: none

feat: optimize team memory storage to avoid duplicate LLM processing
  src/mindroom/bot.py
  src/mindroom/memory/functions.py
  src/mindroom/tools/composio.py
  tests/test_memory_functions.py
Due: mypy

feat: Add event-driven scheduling support to \!schedule command
  src/mindroom/commands.py
  src/mindroom/workflow_scheduling.py
  tests/test_event_driven_scheduling.py
Due: mypy

feat: Add natural language descriptions for cron schedules
  config.yaml
  pyproject.toml
  src/mindroom/scheduling.py
  src/mindroom/workflow_scheduling.py
  tests/test_cron_natural_language.py
  uv.lock
Due: mypy

feat: Add AI-powered team mode decision system
  src/mindroom/bot.py
  src/mindroom/teams.py
  tests/test_team_mode_decision.py
Due: mypy

fix: Preserve agent order in team formation
  src/mindroom/thread_utils.py
  tests/test_agent_order_preservation.py
Due: mypy

fix: update config for all existing bots during dynamic config updates
  src/mindroom/bot.py
  tests/test_dynamic_config_update.py
Due: mypy

fix: Align team mode decision with Agno documentation
  src/mindroom/teams.py
  tests/test_team_mode_decision.py
Due: mypy

feat(callagent): Add detailed instructions for phone calls and SMS and update role
  config.yaml
Due: none

docs: update documentation to correctly describe team modes
  README.md
  docs/ai_team_mode_decision.md
Due: none

docs: Remove ai_team_mode_decision.md
  docs/ai_team_mode_decision.md
Due: none

fix: Only RouterAgent restores scheduled tasks after restart
  src/mindroom/bot.py
  tests/test_scheduled_task_restoration.py
Due: mypy

feat: Implement general credential loading for all tools (#108)
  src/mindroom/agents.py
  src/mindroom/bot.py
  src/mindroom/tools_metadata.py
  tests/test_tool_config_sync.py
Due: mypy

feat: Add automatic avatar generation and Matrix integration system
  .gitattributes
  docs/avatars.md
  scripts/generate_avatars.py
  src/mindroom/bot.py
  src/mindroom/matrix/client.py
Due: mypy

feat(scripts): Enhance avatar generation with AI prompts and drop LFS
  .gitattributes
  scripts/generate_avatars.py
Due: none

feat(avatars): Add avatar images and LFS configuration for agents and teams
  .gitattributes
  avatars/agents/analyst.png
  avatars/agents/calculator.png
  avatars/agents/callagent.png
  avatars/agents/code.png
  avatars/agents/data_analyst.png
  avatars/agents/email_assistant.png
  avatars/agents/finance.png
  avatars/agents/general.png
  avatars/agents/home.png
  avatars/agents/news.png
  avatars/agents/research.png
  avatars/agents/router.png
  avatars/agents/security.png
  avatars/agents/shell.png
  avatars/agents/summary.png
  avatars/teams/code_team.png
  avatars/teams/super_team.png
  docs/avatars.md
  scripts/generate_avatars.py
Due: none

chore(avatars): Update agent and team avatar images to latest versions
  avatars/agents/analyst.png
  avatars/agents/calculator.png
  avatars/agents/callagent.png
  avatars/agents/code.png
  avatars/agents/data_analyst.png
  avatars/agents/email_assistant.png
  avatars/agents/finance.png
  avatars/agents/general.png
  avatars/agents/home.png
  avatars/agents/news.png
  avatars/agents/research.png
  avatars/agents/router.png
  avatars/agents/security.png
  avatars/agents/shell.png
  avatars/agents/summary.png
  avatars/teams/code_team.png
  avatars/teams/super_team.png
Due: none

docs(avatars): Remove avatar system documentation
  docs/avatars.md
Due: none

refactor(generate_avatars): Centralize avatar generation prompts in constants
  scripts/generate_avatars.py
Due: none

fix(matrix): Fix nio upload response handling for avatar uploads
  src/mindroom/bot.py
  src/mindroom/matrix/client.py
Due: mypy

style: Remove obvious comments from avatar code
  src/mindroom/bot.py
  src/mindroom/matrix/client.py
Due: mypy

style(matrix/client): Remove redundant comments from avatar setting function
  src/mindroom/matrix/client.py
Due: mypy

style(matrix): remove incorrect comment about data_provider
  src/mindroom/matrix/client.py
Due: mypy

refactor: Remove unnecessary hasattr check for content_uri
  src/mindroom/matrix/client.py
Due: mypy

refactor: Replace hasattr with proper isinstance checks
  src/mindroom/matrix/client.py
Due: mypy

fix: update test_restore_tasks_on_room_join to use router agent
  tests/test_bot_scheduling.py
Due: none

feat: Add room avatar support to Mindroom
  scripts/generate_avatars.py
  scripts/set_room_avatars.py
  src/mindroom/matrix/client.py
  src/mindroom/matrix/rooms.py
  src/mindroom/tools/composio.py
Due: mypy
