Repository mindroom-ai/mindroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript-check, check-package-lock

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  pass_filenames: false
  args:
  - src

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd widget/frontend && npm run type-check'
  language: system
  pass_filenames: false

check-package-lock:
  name: Check package-lock.json is up to date
  entry: bash -c 'cd widget/frontend && npm ls >/dev/null 2>&1'
  language: system
  pass_filenames: false

refactor: Unify avatar generation and setting into single script
  config.yaml
  scripts/generate_avatars.py
  scripts/set_room_avatars.py
Due: none

refactor: Simplify avatar script to assume Mindroom is installed
  scripts/__init__.py
  scripts/generate_avatars.py
Due: none

feat(ui): Add Google Gemini support with provider logos
  widget/backend/uv.lock
  widget/frontend/src/components/ModelConfig/ModelConfig.tsx
  widget/frontend/src/components/ModelConfig/ProviderLogos.tsx
Due: typescript-check

docs: Clarify room avatar setting behavior
  scripts/generate_avatars.py
  src/mindroom/matrix/rooms.py
Due: mypy

test: Add comprehensive tests for Google Gemini integration
  tests/test_gemini_integration.py
Due: none

refactor: Optimize avatar prompts for small display size
  scripts/generate_avatars.py
Due: none

refactor: Balance avatar detail for both small and large viewing
  avatars/rooms/analysis.png
  avatars/rooms/automation.png
  avatars/rooms/business.png
  avatars/rooms/communication.png
  avatars/rooms/dev.png
  avatars/rooms/docs.png
  avatars/rooms/finance.png
  avatars/rooms/help.png
  avatars/rooms/home.png
  avatars/rooms/lobby.png
  avatars/rooms/news.png
  avatars/rooms/ops.png
  avatars/rooms/productivity.png
  avatars/rooms/research.png
  avatars/rooms/science.png
  scripts/generate_avatars.py
Due: none

fix(docker): Ensure data directory permissions and media_store existence in entrypoint
  docker/synapse/entrypoint.sh
Due: none

chore(models): Update default model ID to claude-sonnet-4-20250514
  config.yaml
Due: none

chore(models): Update model IDs for opus and sonnet to latest versions
  config.yaml
Due: none

perf(rooms): optimize room avatar images to reduce file sizes
  avatars/rooms/analysis.png
  avatars/rooms/automation.png
  avatars/rooms/business.png
  avatars/rooms/communication.png
  avatars/rooms/dev.png
  avatars/rooms/docs.png
  avatars/rooms/finance.png
  avatars/rooms/help.png
  avatars/rooms/home.png
  avatars/rooms/lobby.png
  avatars/rooms/news.png
  avatars/rooms/ops.png
  avatars/rooms/productivity.png
  avatars/rooms/research.png
  avatars/rooms/science.png
Due: none

refactor: Unify avatar upload functions in Matrix client
  scripts/generate_avatars.py
  src/mindroom/matrix/client.py
  src/mindroom/matrix/rooms.py
Due: mypy

fix(ProviderLogos): Replace inline SVGs with proper react-icons
  widget/frontend/src/components/ModelConfig/ProviderLogos.tsx
Due: typescript-check

fix(matrix): Remove deprecated function per project principles
  src/mindroom/matrix/client.py
Due: mypy

feat(rooms): replace isometric room avatars with flat minimalist icons
  avatars/rooms/analysis.png
  avatars/rooms/automation.png
  avatars/rooms/business.png
  avatars/rooms/communication.png
  avatars/rooms/dev.png
  avatars/rooms/docs.png
  avatars/rooms/finance.png
  avatars/rooms/help.png
  avatars/rooms/home.png
  avatars/rooms/lobby.png
  avatars/rooms/news.png
  avatars/rooms/ops.png
  avatars/rooms/productivity.png
  avatars/rooms/research.png
  avatars/rooms/science.png
  scripts/generate_avatars.py
Due: none

feat(api): Unify widget backend with main mindroom package
  pyproject.toml
  src/mindroom/api/__init__.py
  src/mindroom/api/api_init.py
  src/mindroom/api/credentials.py
  src/mindroom/api/google_integration.py
  src/mindroom/api/google_tools_helper.py
  src/mindroom/api/homeassistant_integration.py
  src/mindroom/api/integrations.py
  src/mindroom/api/main.py
  src/mindroom/api/tools.py
  src/mindroom/tools_metadata.json
  tests/api/__init__.py
  tests/api/conftest.py
  tests/api/test_api.py
  tests/api/test_credentials_api.py
  tests/api/test_file_watcher.py
  uv.lock
  widget/backend/pyproject.toml.backup
Due: mypy

chore(rooms): Update room avatars
  avatars/rooms/analysis.png
  avatars/rooms/automation.png
  avatars/rooms/business.png
  avatars/rooms/communication.png
  avatars/rooms/dev.png
  avatars/rooms/docs.png
  avatars/rooms/finance.png
  avatars/rooms/help.png
  avatars/rooms/home.png
  avatars/rooms/lobby.png
  avatars/rooms/news.png
  avatars/rooms/ops.png
  avatars/rooms/productivity.png
  avatars/rooms/research.png
  avatars/rooms/science.png
Due: none

feat: Add logos to provider dropdown menus and use @lobehub/icons
  widget/frontend/package.json
  widget/frontend/pnpm-lock.yaml
  widget/frontend/src/components/ModelConfig/ModelConfig.tsx
  widget/frontend/src/components/ModelConfig/ProviderLogos.tsx
Due: typescript-check, check-package-lock

fix: Update scripts and documentation for unified backend structure
  deploy/Dockerfile.widget
  deploy/README.md
  widget/README.md
  widget/TESTING.md
  widget/run.sh
  widget/run_tests.sh
Due: none

refactor: Centralize provider configuration for DRY code
  widget/frontend/src/components/ModelConfig/ModelConfig.tsx
  widget/frontend/src/components/ModelConfig/ProviderLogos.tsx
  widget/frontend/src/components/shared/FilterSelector.tsx
  widget/frontend/src/lib/providers.tsx
Due: typescript-check

chore(frontend): Remove simple-icons
  widget/frontend/package.json
  widget/frontend/pnpm-lock.yaml
Due: check-package-lock

refactor: Clean up widget directory and consolidate project structure
  .env.example
  .gitignore
  e2e-tests/gmail-oauth.test.js
  widget/.env.example
  widget/.gitignore
  widget/capture_state.py
Due: none

refactor: Eliminate widget directory and simplify project structure
  CLAUDE.md
  README.md
  docs/TESTING.md
  docs/gmail_oauth_deployment.md
  docs/gmail_setup.md
  frontend/SCREENSHOT_INSTRUCTIONS.md
  frontend/capture_state.py
  frontend/take_screenshot.py
  run-ui-nix.sh
  run-ui-tests-nix.sh
  run-ui-tests.sh
  run-ui.sh
  shell.nix
  widget/README.md
  widget/WIDGET_INTEGRATION.md
Due: none

fix: Add type annotations and correct type errors for pre-commit
  .gitignore
  src/mindroom/api/google_integration.py
  src/mindroom/api/homeassistant_integration.py
  src/mindroom/api/integrations.py
  src/mindroom/api/main.py
  tests/test_gemini_integration.py
Due: mypy

chore(deps): Remove unused package.json and pnpm-lock.yaml files
  package.json
  pnpm-lock.yaml
Due: none

fix: Use centralized credentials manager for Home Assistant integration
  src/mindroom/api/homeassistant_integration.py
Due: mypy

fix(docker): Update Dockerfile to use correct run script
  deploy/Dockerfile.widget
Due: none

perf(deploy): Add cache mounts to speed up Docker builds with UV and pnpm
  deploy/Dockerfile.backend
  deploy/Dockerfile.widget
Due: none

refactor: Use UV Python base image for backend Docker
  deploy/Dockerfile.backend
Due: none

refactor(deploy): Introduce shared base image for Python dependencies and rename widget to frontend
  deploy/Dockerfile.backend
  deploy/Dockerfile.base
  deploy/Dockerfile.frontend
  deploy/README.md
  deploy/docker-compose.yml
  deploy/mindroom-widget.service
Due: none

build(deploy): Use multi-stage Docker builds and remove base image
  deploy/Dockerfile.backend
  deploy/Dockerfile.base
  deploy/Dockerfile.frontend
  deploy/docker-compose.yml
Due: none

chore(config): Update OLLAMA host from localhost to pc.local
  config.yaml
Due: none

feat(ollama): Add host configuration for ollama model
  config.yaml
Due: none

chore(dependencies): Remove CUDA packages
  pyproject.toml
  uv.lock
Due: none

chore(config): Use full IP address instead of hostname for network configuration
  config.yaml
Due: none

feat(deploy): Add simple multi-instance federation support
  deploy/.env.template
  deploy/.env.test1
  deploy/.env.test2
  deploy/.gitignore
  deploy/FEDERATION.md
  deploy/docker-compose.yml
  deploy/instance_manager.py
  deploy/instances.json
  deploy/instances.yaml
Due: none

chore: Remove test instance files from repo
  deploy/.env.test1
  deploy/.env.test2
  deploy/instances.json
  deploy/instances.yaml
Due: none

feat(deploy): Enhance instance manager CLI with Rich and Typer
  .gitignore
  deploy/FEDERATION.md
  deploy/instance_manager.py
Due: none

feat: Improve README with clear positioning and add quickstart script
  README.md
  quickstart.sh
Due: none

Path conditions:
  mypy: any of: ^src/|^matrix-ai-minimal/ and \.py$ and not (docs/source/conf.py)
  typescript-check: any of: ^widget/frontend/.*\.(ts|tsx)$
  check-package-lock: any of: ^widget/frontend/package\.json$
