Repository mindroom-ai/mindroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript-check, check-package-lock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-yaml
      - id: debug-statements
      - id: check-ast

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.12.5"
    hooks:
      - id: ruff
        exclude: docs/source/conf.py|ipynb_filter.py
        args: ["--fix", "--exit-non-zero-on-fix"]
      - id: ruff-format
        exclude: docs/source/conf.py|ipynb_filter.py

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        files: ^src/|^matrix-ai-minimal/
        exclude: docs/source/conf.py
        pass_filenames: false
        args: [src]

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.6.0"
    hooks:
      - id: pyproject-fmt

  # TypeScript/JavaScript hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^widget/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
        exclude: ^(widget/frontend/package-lock\.json|widget/frontend/tsconfig.*\.json|.*\.min\.(js|css))$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: ^widget/frontend/.*\.(js|jsx|ts|tsx)$
        args: ['--fix', '--config', 'widget/frontend/.eslintrc.json']
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/eslint-plugin@6.19.0'
          - '@typescript-eslint/parser@6.19.0'
          - 'eslint-plugin-react@7.33.2'
          - 'eslint-plugin-react-hooks@4.6.0'
          - 'eslint-config-prettier@9.1.0'
          - 'typescript@5.3.3'

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd widget/frontend && npm run type-check'
        language: system
        files: ^widget/frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: check-package-lock
        name: Check package-lock.json is up to date
        entry: bash -c 'cd widget/frontend && npm ls >/dev/null 2>&1'
        language: system
        files: ^widget/frontend/package\.json$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
        files: ^widget/frontend/.*\.json$
        exclude: ^(widget/frontend/tsconfig.*\.json)$
      - id: pretty-format-json
        args: ['--autofix', '--indent=2']
        files: ^widget/frontend/.*\.json$
        exclude: ^(widget/frontend/package(-lock)?\.json|widget/frontend/tsconfig.*\.json|widget/frontend/\.eslintrc\.json)$

fix: Prevent threading error when router sends command error messages
  src/mindroom/bot.py
  tests/test_threading_error.py
Due: mypy

refactor: remove special-case handling for router thread creation
  src/mindroom/bot.py
  tests/test_threading_error.py
Due: mypy

fix(AgentEditor): show Configure button only when config needed or set
  widget/frontend/src/components/AgentEditor/AgentEditor.tsx
Due: typescript-check

feat(widget): add Matrix/Element widget integration
  widget/MATRIX_INTEGRATION.md
  widget/README.md
  widget/frontend/public/matrix-widget.html
  widget/frontend/public/widget.json
Due: none

docs: clarify Element Web widget limitations and add alternatives
  widget/MATRIX_INTEGRATION.md
  widget/README.md
Due: none

chore(bot): Add debug logging to diagnose thread creation issue
  src/mindroom/bot.py
Due: mypy

refactor(bot): Remove debug logging statements from AgentBot
  src/mindroom/bot.py
Due: mypy

feat(widget): Add widget manager and integration documentation
  src/mindroom/widget_manager.py
  widget/UNIFIED_INTEGRATION.md
Due: mypy

refactor(bot): Unify threading logic in _send_response
  src/mindroom/bot.py
  src/mindroom/thread_utils.py
Due: mypy

refactor: Enforce top-level imports and update style guide
  CLAUDE.md
  src/mindroom/bot.py
Due: mypy

feat: add simple !widget command for room widget integration
  README.md
  src/mindroom/bot.py
  src/mindroom/commands.py
  src/mindroom/widget_manager.py
Due: mypy

docs: add quick widget setup guide for users and developers
  widget/QUICK_WIDGET_SETUP.md
Due: none

refactor(threading): Simplify threading logic with cleaner chaining
  src/mindroom/bot.py
  src/mindroom/thread_utils.py
Due: mypy

chore(widget): clean up unnecessary files and consolidate documentation
  widget/.direnv/bin/nix-direnv-reload
  widget/.direnv/nix-profile-pre838708.5b09dc45f24c
  widget/.direnv/nix-profile-pre838708.5b09dc45f24c.rc
  widget/.envrc
  widget/.gitignore
  widget/MATRIX_INTEGRATION.md
  widget/QUICK_WIDGET_SETUP.md
  widget/README.md
  widget/UNIFIED_INTEGRATION.md
  widget/WIDGET_INTEGRATION.md
  widget/backend/requirements.txt
  widget/frontend/public/widget-manifest.json
Due: none

feat: make frontend port configurable with default 3003
  take_screenshot.py
  widget/README.md
  widget/frontend/vite.config.ts
  widget/run.sh
Due: typescript-check

fix: update all references to use port 3003 consistently
  src/mindroom/commands.py
  widget/SCREENSHOT_INSTRUCTIONS.md
  widget/WIDGET_INTEGRATION.md
  widget/backend/src/main.py
  widget/capture_state.py
  widget/frontend/public/matrix-widget.html
  widget/frontend/scripts/screenshot.cjs
  widget/take_screenshot.py
Due: mypy

revert(config): Revert the addition of verbose comments in config.yaml
  config.yaml
Due: none

Revert "revert"
  config.yaml
Due: none

docs: update widget documentation for accuracy
  widget/README.md
  widget/SCREENSHOT_INSTRUCTIONS.md
  widget/TESTING.md
Due: none

feat(agent): Add identity context and awareness for team collaborations
  src/mindroom/agent_config.py
  src/mindroom/teams.py
Due: mypy

fix(widget): Fix content cutoff in Matrix widget iframe
  widget/frontend/public/matrix-widget.html
  widget/frontend/src/App.tsx
  widget/frontend/src/components/AgentEditor/AgentEditor.tsx
  widget/frontend/src/components/AgentList/AgentList.tsx
  widget/frontend/src/components/ModelConfig/ModelConfig.tsx
Due: typescript-check

fix(widget): Resolve overflow and scaling issues for improved responsiveness
  widget/frontend/public/matrix-widget.html
  widget/frontend/src/App.tsx
  widget/frontend/src/components/AgentEditor/AgentEditor.tsx
  widget/frontend/src/components/AgentList/AgentList.tsx
  widget/frontend/src/components/ModelConfig/ModelConfig.tsx
Due: typescript-check

fix(widget): prevent components from extending beyond viewport
  widget/frontend/src/App.tsx
  widget/frontend/src/components/AgentEditor/AgentEditor.tsx
  widget/frontend/src/components/AgentList/AgentList.tsx
  widget/frontend/src/components/ModelConfig/ModelConfig.tsx
Due: typescript-check

refactor: Replace hasattr with getattr for cleaner attribute access
  src/mindroom/agent_config.py
  src/mindroom/teams.py
Due: mypy

feat(agent): Unify agent identity context across all agents
  src/mindroom/agent_config.py
  src/mindroom/agent_prompts.py
Due: mypy

refactor(teams): Simplify team context by removing redundant tool listing
  src/mindroom/teams.py
Due: mypy

fix(AgentEditor): make placeholder card match full editor height
  widget/frontend/src/components/AgentEditor/AgentEditor.tsx
Due: typescript-check

refactor: Create robust agent description extraction system
  src/mindroom/models.py
  src/mindroom/teams.py
Due: mypy

revert(config): Restore commented configuration in config.yaml
  config.yaml
Due: none

refactor(teams): Replace custom team implementation with Agno's built-in features
  src/mindroom/models.py
  src/mindroom/teams.py
Due: mypy

refactor(teams): Remove custom team descriptions and instructions
  src/mindroom/teams.py
Due: mypy

fix(bot): Auto-create threads for commands to prevent errors
  src/mindroom/bot.py
Due: mypy

test(bot_scheduling): Update test to verify auto-thread creation
  tests/test_bot_scheduling.py
Due: none

fix(memory): Prevent ValidationError by using compatible LLM for memory
  config.yaml
  src/mindroom/memory/config.py
  src/mindroom/models.py
Due: mypy

feat: add teams as Matrix users with configurable models
  config.yaml
  src/mindroom/agent_config.py
  src/mindroom/bot.py
  src/mindroom/matrix/users.py
  src/mindroom/models.py
  src/mindroom/teams.py
Due: mypy

test: update test for new error message that includes teams
  tests/test_routing.py
Due: none

test: Add dev_team configuration and e2e test for team coordination
  config.yaml
  e2e_test.py
Due: none

feat: add team support to widget configuration UI
  .gitignore
  widget/frontend/src/App.tsx
  widget/frontend/src/components/TeamEditor/TeamEditor.tsx
  widget/frontend/src/components/TeamList/TeamList.tsx
  widget/frontend/src/store/configStore.ts
  widget/frontend/src/types/config.ts
Due: typescript-check

fix(TeamEditor): prevent white screen when creating teams in widget
  widget/frontend/src/components/TeamEditor/TeamEditor.tsx
Due: typescript-check

feat: add room models and memory configuration UI
  widget/frontend/src/App.tsx
  widget/frontend/src/components/MemoryConfig/MemoryConfig.tsx
  widget/frontend/src/components/RoomModels/RoomModels.tsx
  widget/frontend/src/store/configStore.ts
Due: typescript-check
