Repository mindroom-ai/mindroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript-check, check-package-lock

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  pass_filenames: false
  args:
  - src

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd widget/frontend && npm run type-check'
  language: system
  pass_filenames: false

check-package-lock:
  name: Check package-lock.json is up to date
  entry: bash -c 'cd widget/frontend && npm ls >/dev/null 2>&1'
  language: system
  pass_filenames: false

test: Add debug prints for tool dependency and invite test results
  e2e_test_invites.py
  tests/test_tool_dependencies.py
Due: none

fix(tools): Correct documentation URLs and dependencies in tool metadata
  pyproject.toml
  src/mindroom/tools.py
  src/mindroom/tools_metadata.py
  uv.lock
Due: mypy

chore(backend): Add FastAPI, Spotipy, Uvicorn, and Watchdog dependencies
  widget/backend/uv.lock
Due: none

refactor(tools): Add proper type imports for all tools and fix Wikipedia dependency
  pyproject.toml
  src/mindroom/tools.py
Due: mypy

fix: Resolve PLC0415 import position errors
  e2e_test.py
  e2e_test_invites.py
  src/mindroom/tools.py
  tests/test_bot_scheduling.py
  tests/test_config_reload.py
  tests/test_response_tracker.py
Due: mypy

style: Enable all Ruff rules and fix violations
  pyproject.toml
  src/mindroom/tools.py
  tests/test_agent_response_logic.py
  tests/test_agents.py
  tests/test_bot_helpers.py
  tests/test_cli.py
  tests/test_commands.py
  tests/test_interactive.py
  tests/test_matrix_agent_manager.py
  tests/test_matrix_identity.py
  tests/test_memory_config.py
  tests/test_memory_functions.py
  tests/test_memory_integration.py
  tests/test_mentions.py
  tests/test_mock_tests.py
  tests/test_multi_agent_bot.py
  tests/test_multi_agent_e2e.py
  tests/test_response_tracking_regression.py
  tests/test_room_cleanup_thread_invites.py
  tests/test_room_invites.py
  tests/test_router_rooms.py
  tests/test_routing.py
  tests/test_routing_integration.py
  tests/test_routing_regression.py
  tests/test_scheduling.py
  tests/test_streaming_behavior.py
  tests/test_streaming_e2e.py
  tests/test_streaming_edits.py
  tests/test_team_extraction.py
  tests/test_team_invitations.py
  tests/test_team_room_updates.py
  tests/test_thread_history.py
  tests/test_thread_invite_integration.py
  tests/test_thread_invites.py
  tests/test_threading_error.py
  tests/test_tool_dependencies.py
  tests/test_unknown_command_response.py
Due: mypy

test: Add tests for tool dependency declaration in pyproject.toml
  tests/test_tool_dependencies.py
  uv.lock
  widget/backend/uv.lock
Due: none

feat(tools): Automate detection of tools requiring configuration
  src/mindroom/tools.py
  tests/test_tool_dependencies.py
Due: mypy

chore(lint): Suppress PLC0415 warnings with noqa comments in tool imports
  pyproject.toml
  src/mindroom/tools.py
Due: mypy

fix(tools): Remove duplicate tool metadata and correct API endpoints
  src/mindroom/tools_metadata.py
  widget/backend/src/api/gmail_config.py
  widget/backend/src/api/google_auth.py
  widget/backend/src/api/google_setup_wizard.py
  widget/backend/src/api/integrations.py
  widget/backend/src/api/tools.py
Due: mypy

fix: Resolve PLC0415 import linting errors
  src/mindroom/agents.py
  src/mindroom/config.py
  src/mindroom/matrix/rooms.py
  tests/test_bot_scheduling.py
  tests/test_cli.py
  tests/test_multi_agent_bot.py
  tests/test_multi_agent_e2e.py
  tests/test_routing_regression.py
  tests/test_streaming_e2e.py
  widget/backend/tests/conftest.py
  widget/backend/tests/test_file_watcher.py
Due: mypy

feat(integrations): Replace hardcoded frontend integrations with dynamic backend data
  widget/backend/src/api/integrations.py
  widget/frontend/src/components/Integrations/Integrations.tsx
  widget/frontend/src/components/Integrations/iconMapping.tsx
  widget/frontend/src/hooks/useTools.ts
Due: typescript-check

refactor: Move imports to module level for better code organization
  src/mindroom/agents.py
  tests/test_multi_agent_e2e.py
Due: mypy

refactor(integrations): Clean up duplicates and restore colors
  widget/frontend/src/components/Integrations/Integrations.tsx
  widget/frontend/src/components/Integrations/iconMapping.tsx
Due: typescript-check

refactor(api): Add type hints, use pathlib for file operations, and improve error handling
  widget/backend/src/api/gmail_config.py
  widget/backend/src/api/integrations.py
Due: none

fix(api): resolve most ruff linting errors in backend API
  widget/backend/src/api/gmail_config.py
  widget/backend/src/api/google_auth.py
  widget/backend/src/api/google_setup_wizard.py
  widget/backend/src/api/integrations.py
  widget/backend/src/api/tools.py
Due: none

refactor: Use ToolMetadata dataclass directly from main library
  widget/backend/src/api/tools.py
Due: none

chore: Apply linter fixes and use async HTTP client
  widget/backend/src/api/google_auth.py
  widget/backend/src/api/google_setup_wizard.py
  widget/backend/src/api/integrations.py
Due: none

fix: resolve remaining ruff linting issues
  src/mindroom/tools_metadata.py
  widget/backend/src/api/gmail_config.py
Due: mypy

refactor: Generate tools metadata as JSON for simpler widget backend
  mindroom/tools_metadata.json
  tests/test_tools_metadata.py
  widget/backend/src/api/tools.py
Due: none

feat: Add icon colors to tool metadata
  mindroom/tools_metadata.json
  src/mindroom/tools.py
  src/mindroom/tools_metadata.py
  widget/backend/src/main.py
Due: mypy

fix: Update widget backend test to match new tools endpoint format
  widget/backend/tests/test_api.py
Due: none

fix(frontend-tests): Fix test expectations to match component updates
  widget/frontend/src/components/AgentList/AgentList.test.tsx
  widget/frontend/src/components/GmailToolConfig/GmailToolConfig.test.tsx
  widget/frontend/src/components/TeamList/TeamList.test.tsx
Due: typescript-check

fix(backend): Initialize backend module and fix import paths
  widget/backend/src/__init__.py
  widget/backend/src/main.py
Due: none

refactor: Remove hardcoded frontend integrations, use backend metadata
  mindroom/tools_metadata.json
  src/mindroom/tools.py
  widget/frontend/src/components/Integrations/Integrations.tsx
Due: mypy, typescript-check

fix(widget): Add icon_color field and fix API endpoint
  widget/frontend/src/hooks/useTools.ts
  widget/frontend/src/lib/api.ts
Due: typescript-check

feat(nixos): Add auto-deploy system for MindRoom services
  nixos/README.md
  nixos/autoupdate.sh
  nixos/mindroom-autoupdate.service
  nixos/mindroom-autoupdate.timer
  nixos/mindroom-backend.service
  nixos/mindroom-widget.service
  nixos/setup-mindroom.sh
Due: none

fix(autoupdate): Use current branch instead of hardcoded main with fallback
  nixos/autoupdate.sh
Due: none

feat(autoupdate): Add flag to disable auto-updates during development
  nixos/autoupdate.sh
Due: none

feat(setup): Add Linux server support with auto-detecting user and project paths
  nixos/README.md
  nixos/setup-linux.sh
Due: none

refactor(deploy): Rename nixos to deploy for cross-platform clarity
  deploy/README.md
  deploy/autoupdate.sh
  deploy/mindroom-autoupdate.service
  deploy/mindroom-autoupdate.timer
  deploy/mindroom-backend.service
  deploy/mindroom-widget.service
  deploy/setup-linux.sh
  deploy/setup-mindroom.sh
Due: none

fix(deploy): auto-detect project directory in autoupdate script
  deploy/autoupdate.sh
Due: none

feat: Add comprehensive network visualization and Gmail authentication setup
  .gitignore
  authenticate_gmail_agno.py
  complete_oauth_manually.py
  setup_ngrok_oauth.sh
  setup_ssh_tunnels.sh
  start_widget.sh
  widget/frontend/src/components/Dashboard/Dashboard.tsx
  widget/frontend/src/components/Dashboard/NetworkVisualization.tsx
Due: typescript-check

refactor(dashboard): Simplify network graph to stats display
  widget/frontend/package.json
  widget/frontend/src/components/Dashboard/NetworkGraph.tsx
Due: typescript-check, check-package-lock

feat(network-graph): Add key insights and improve layout for dashboard integration
  widget/frontend/src/components/Dashboard/Dashboard.tsx
  widget/frontend/src/components/Dashboard/NetworkGraph.tsx
Due: typescript-check

fix(gmail): Update OAuth scopes and improve CORS configuration
  widget/backend/src/api/gmail_config.py
  widget/backend/src/main.py
Due: none

feat(network-graph): implement beautiful D3.js network visualization
  widget/frontend/src/components/Dashboard/NetworkGraph.tsx
Due: typescript-check

fix(dashboard): allow proper vertical scrolling
  widget/frontend/src/App.tsx
  widget/frontend/src/components/Dashboard/Dashboard.tsx
Due: typescript-check

fix(frontend): update backend port to 8000 in Vite proxy
  widget/frontend/vite.config.ts
Due: typescript-check

feat(dashboard): Add advanced dashboard features (Phase 2)
  widget/frontend/package.json
  widget/frontend/src/components/Dashboard/Dashboard.tsx
  widget/frontend/src/components/Dashboard/NetworkGraph.tsx
Due: typescript-check, check-package-lock

Path conditions:
  mypy: any of: ^src/|^matrix-ai-minimal/ and \.py$ and not (docs/source/conf.py)
  typescript-check: any of: ^widget/frontend/.*\.(ts|tsx)$
  check-package-lock: any of: ^widget/frontend/package\.json$
