Repository mindroom-ai/mindroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript-check, check-package-lock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-yaml
      - id: debug-statements
      - id: check-ast

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.12.5"
    hooks:
      - id: ruff
        exclude: docs/source/conf.py|ipynb_filter.py
        args: ["--fix", "--exit-non-zero-on-fix"]
      - id: ruff-format
        exclude: docs/source/conf.py|ipynb_filter.py

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        files: ^src/|^matrix-ai-minimal/
        exclude: docs/source/conf.py
        pass_filenames: false
        args: [src]

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.6.0"
    hooks:
      - id: pyproject-fmt

  # TypeScript/JavaScript hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^widget/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
        exclude: ^(widget/frontend/package-lock\.json|widget/frontend/tsconfig.*\.json|.*\.min\.(js|css))$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: ^widget/frontend/.*\.(js|jsx|ts|tsx)$
        args: ['--fix', '--config', 'widget/frontend/.eslintrc.json']
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/eslint-plugin@6.19.0'
          - '@typescript-eslint/parser@6.19.0'
          - 'eslint-plugin-react@7.33.2'
          - 'eslint-plugin-react-hooks@4.6.0'
          - 'eslint-config-prettier@9.1.0'
          - 'typescript@5.3.3'

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd widget/frontend && npm run type-check'
        language: system
        files: ^widget/frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: check-package-lock
        name: Check package-lock.json is up to date
        entry: bash -c 'cd widget/frontend && npm ls >/dev/null 2>&1'
        language: system
        files: ^widget/frontend/package\.json$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
        files: ^widget/frontend/.*\.json$
        exclude: ^(widget/frontend/tsconfig.*\.json)$
      - id: pretty-format-json
        args: ['--autofix', '--indent=2']
        files: ^widget/frontend/.*\.json$
        exclude: ^(widget/frontend/package(-lock)?\.json|widget/frontend/tsconfig.*\.json|widget/frontend/\.eslintrc\.json)$

feat: Add comprehensive dashboard to MindRoom widget
  widget/frontend/src/App.tsx
  widget/frontend/src/components/Dashboard/Dashboard.tsx
Due: typescript-check

fix: Remove problematic AFRAME dependencies causing white screen
  widget/frontend/package.json
  widget/frontend/src/components/Dashboard/NetworkGraph.tsx
Due: typescript-check, check-package-lock

fix(network-graph): correct node click handling
  widget/frontend/src/components/Dashboard/NetworkGraph.tsx
Due: typescript-check

fix(network-visualization): improve click and hover event handling
  widget/frontend/src/components/Dashboard/NetworkVisualization.tsx
Due: typescript-check

refactor(dashboard): Remove network visualization to focus on practical insights
  authenticate_gmail_agno.py
  complete_oauth_manually.py
  setup_ngrok_oauth.sh
  setup_ssh_tunnels.sh
  start_widget.sh
  widget/backend/src/main.py
  widget/frontend/src/components/Dashboard/Dashboard.tsx
  widget/frontend/src/components/Dashboard/NetworkVisualization.tsx
  widget/frontend/src/lib/api.ts
  widget/frontend/vite.config.ts
Due: typescript-check

feat(deploy): add manual service files without auto-update
  deploy/mindroom-backend-manual.service
  deploy/mindroom-widget-manual.service
Due: none

refactor(deploy): Reduce to 4 files and remove auto-update
  deploy/README.md
  deploy/autoupdate.sh
  deploy/mindroom-autoupdate.service
  deploy/mindroom-autoupdate.timer
  deploy/mindroom-backend-manual.service
  deploy/mindroom-backend.service
  deploy/mindroom-widget-manual.service
  deploy/mindroom-widget.service
  deploy/setup-linux.sh
  deploy/setup.sh
Due: none

feat(deploy): Add Docker Compose setup with Traefik labels
  deploy/Dockerfile.backend
  deploy/Dockerfile.widget
  deploy/docker-compose.yml
Due: none

fix(gmail): Resolve invalid_scope error by updating OAuth scopes
  widget/backend/src/api/gmail_config.py
Due: none

refactor(deploy): Remove widget service port mapping, use Traefik
  deploy/docker-compose.yml
Due: none

fix(deploy): Remove web server config for Matrix bot backend
  deploy/Dockerfile.backend
  deploy/docker-compose.yml
Due: none

fix(deploy): Use absolute paths for commands in widget Dockerfile
  deploy/Dockerfile.widget
Due: none

feat(deploy): Add .env file loading from repository root for backend and widget services
  deploy/docker-compose.yml
Due: none

perf(docker): Use multi-stage builds in Dockerfiles and add .dockerignore
  .dockerignore
  deploy/Dockerfile.backend
  deploy/Dockerfile.widget
Due: none

fix(docker): Include README.md in Dockerfile COPY for pyproject.toml
  deploy/Dockerfile.backend
Due: none

fix(docker): Prevent README.md from being ignored and correct uv sync paths
  .dockerignore
  deploy/Dockerfile.widget
Due: none

fix(widget): Add --host 0.0.0.0 flag to run script for external access
  widget/run.sh
Due: none

feat(widget): Add Docker environment detection and configuration
  deploy/Dockerfile.widget
  widget/frontend/package.json
  widget/run.sh
Due: check-package-lock

chore(frontend): Configure Vite dev server to bind to all hosts for Docker compatibility
  widget/frontend/vite.config.ts
Due: typescript-check

feat(frontend): Add preview:docker script and configure Vite for Docker
  widget/frontend/package.json
  widget/frontend/vite.config.ts
Due: typescript-check, check-package-lock

refactor(frontend): Simplify Vite configuration for Docker
  widget/frontend/package.json
  widget/frontend/vite.config.ts
Due: typescript-check, check-package-lock

feat(frontend): Add allowed hosts configuration for Docker environments
  widget/frontend/vite.config.ts
Due: typescript-check

chore(auth): Remove unused Gmail authentication script
  authenticate_gmail_agno.py
Due: none

feat(dashboard): Redesign with gruvbox earth tones and consistent styling
  setup_ngrok_oauth.sh
  setup_ssh_tunnels.sh
  start_widget.sh
  widget/frontend/src/components/Dashboard/Dashboard.tsx
  widget/frontend/src/components/Dashboard/NetworkGraph.tsx
Due: typescript-check

style(components): Update styling with orange color scheme and hover effects
  widget/frontend/src/components/RoomList/RoomList.test.tsx
  widget/frontend/src/components/RoomList/RoomList.tsx
  widget/frontend/src/components/TeamList/TeamList.tsx
Due: typescript-check

refactor(google-oauth): Unify Google OAuth implementations
  widget/backend/src/api/gmail_config.py
  widget/backend/src/api/google_auth.py
  widget/backend/src/api/google_integration.py
  widget/backend/src/api/google_setup_wizard.py
  widget/backend/src/main.py
  widget/frontend/src/components/GoogleIntegration/GoogleIntegration.tsx
Due: typescript-check

style(google_integration): Remove noqa comments for TRY300 in exception handling
  widget/backend/src/api/google_integration.py
Due: none

docs(google): Update documentation for consolidated OAuth implementation
  README.md
  docs/gmail_oauth_deployment.md
  docs/gmail_setup.md
Due: none

chore(components): Remove unused Gmail/Google TypeScript components
  widget/frontend/src/components/GmailToolConfig/GmailToolConfig.test.tsx
  widget/frontend/src/components/GmailToolConfig/GmailToolConfig.tsx
  widget/frontend/src/components/GoogleSetupWizard/GoogleSetupWizard.tsx
Due: typescript-check

refactor(integrations): Consolidate tool metadata to single source of truth
  widget/backend/src/api/integrations.py
Due: none

fix(integrations): Remove misleading frontend overrides for unimplemented integrations
  widget/frontend/src/components/Integrations/Integrations.tsx
Due: typescript-check

test(TeamList): Fix test assertions and remove temporary OAuth script
  complete_oauth_manually.py
  widget/frontend/src/components/TeamList/TeamList.test.tsx
Due: typescript-check

feat(frontend): Add URL persistence for tab navigation
  widget/frontend/package.json
  widget/frontend/pnpm-lock.yaml
  widget/frontend/src/App.tsx
Due: typescript-check, check-package-lock

refactor(integrations): Modularize integration architecture
  widget/frontend/src/components/Integrations/Integrations.tsx
  widget/frontend/src/components/Integrations/integrations/google/index.tsx
  widget/frontend/src/components/Integrations/integrations/imdb/IMDbConfigDialog.tsx
  widget/frontend/src/components/Integrations/integrations/imdb/index.tsx
  widget/frontend/src/components/Integrations/integrations/index.ts
  widget/frontend/src/components/Integrations/integrations/spotify/index.tsx
  widget/frontend/src/components/Integrations/integrations/types/index.ts
Due: typescript-check

test: Add comprehensive tests for integration system
  widget/frontend/src/components/Integrations/Integrations.test.tsx
  widget/frontend/src/components/Integrations/integrations/google/google.test.tsx
  widget/frontend/src/components/Integrations/integrations/imdb/IMDbConfigDialog.test.tsx
  widget/frontend/src/components/Integrations/integrations/imdb/imdb.test.tsx
  widget/frontend/src/components/Integrations/integrations/spotify/spotify.test.tsx
Due: typescript-check

feat(homeassistant): Add Home Assistant integration
  examples/homeassistant_agent.yaml
  src/mindroom/custom_tools/__init__.py
  src/mindroom/custom_tools/homeassistant.py
  src/mindroom/tools.py
  src/mindroom/tools_metadata.py
  widget/backend/src/api/google_integration.py
  widget/backend/src/api/homeassistant_integration.py
  widget/backend/src/main.py
  widget/frontend/src/components/HomeAssistantIntegration/HomeAssistantIntegration.tsx
  widget/frontend/src/components/Integrations/Integrations.tsx
Due: mypy, typescript-check

fix(homeassistant): Correct tool metadata and add type annotation
  src/mindroom/custom_tools/homeassistant.py
  src/mindroom/tools.py
Due: mypy

refactor(backend): Remove unused API endpoints and fix Google integration
  widget/backend/src/api/integrations.py
  widget/backend/src/api/tools.py
  widget/backend/src/main.py
  widget/frontend/src/components/Integrations/integrations/google/google.test.tsx
  widget/frontend/src/components/Integrations/integrations/google/index.tsx
Due: typescript-check

feat(config): Move Home Assistant agent to main configuration and remove example file
  config.yaml
  examples/homeassistant_agent.yaml
Due: none

feat(credentials): Introduce CredentialsManager for unified storage
  src/mindroom/custom_tools/homeassistant.py
  widget/backend/src/api/credentials_manager.py
  widget/backend/src/api/google_integration.py
  widget/backend/src/api/homeassistant_integration.py
  widget/backend/src/api/integrations.py
Due: mypy
