Repository mindroom-ai/mindroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript-check, check-package-lock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-yaml
      - id: debug-statements
      - id: check-ast

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.12.5"
    hooks:
      - id: ruff
        exclude: docs/source/conf.py|ipynb_filter.py
        args: ["--fix", "--exit-non-zero-on-fix"]
      - id: ruff-format
        exclude: docs/source/conf.py|ipynb_filter.py

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        files: ^src/|^matrix-ai-minimal/
        exclude: docs/source/conf.py
        pass_filenames: false
        args: [src]

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.6.0"
    hooks:
      - id: pyproject-fmt

  # TypeScript/JavaScript hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^widget/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
        exclude: ^(widget/frontend/package-lock\.json|widget/frontend/tsconfig.*\.json|.*\.min\.(js|css))$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: ^widget/frontend/.*\.(js|jsx|ts|tsx)$
        args: ['--fix', '--config', 'widget/frontend/.eslintrc.json']
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/eslint-plugin@6.19.0'
          - '@typescript-eslint/parser@6.19.0'
          - 'eslint-plugin-react@7.33.2'
          - 'eslint-plugin-react-hooks@4.6.0'
          - 'eslint-config-prettier@9.1.0'
          - 'typescript@5.3.3'

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd widget/frontend && npm run type-check'
        language: system
        files: ^widget/frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: check-package-lock
        name: Check package-lock.json is up to date
        entry: bash -c 'cd widget/frontend && npm ls >/dev/null 2>&1'
        language: system
        files: ^widget/frontend/package\.json$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
        files: ^widget/frontend/.*\.json$
        exclude: ^(widget/frontend/tsconfig.*\.json)$
      - id: pretty-format-json
        args: ['--autofix', '--indent=2']
        files: ^widget/frontend/.*\.json$
        exclude: ^(widget/frontend/package(-lock)?\.json|widget/frontend/tsconfig.*\.json|widget/frontend/\.eslintrc\.json)$

refactor(matrix): Remove ssl_helper and simplify SSL context handling
  src/mindroom/matrix/client.py
  src/mindroom/matrix/ssl_helper.py
Due: mypy

refactor(matrix): Simplify SSL handling by using URL scheme check instead of custom context
  src/mindroom/matrix/client.py
  src/mindroom/matrix/ssl_helper.py
Due: mypy

refactor: simplify SSL handling in login function
  src/mindroom/matrix/client.py
Due: mypy

feat(matrix): Add dynamic SSL context handling with MATRIX_SSL_VERIFY environment variable
  src/mindroom/matrix/client.py
Due: mypy

fix: Use correct domain for mentions on remote Matrix servers
  e2e_test.py
  src/mindroom/bot.py
Due: mypy

fix(orchestrator): Raise ValueError for unknown agent configurations to prevent silent failures
  src/mindroom/bot.py
Due: mypy

feat: Generate proper Matrix mention links like Element.io
  e2e_test.py
  src/mindroom/matrix/mentions.py
  tests/test_mentions.py
Due: mypy

refactor: Simplify parse_mentions_in_text function
  src/mindroom/matrix/mentions.py
Due: mypy

test(mentions): Update test variable names to use markdown instead of HTML
  tests/test_mentions.py
Due: none

chore(bot): Remove debug logging for mention detection
  src/mindroom/bot.py
Due: mypy

refactor(test): Move markdown_to_html import to top level in e2e_test.py
  e2e_test.py
Due: none

feat(widget): add simple helper text to form fields
  widget/frontend/src/components/AgentEditor/AgentEditor.tsx
  widget/frontend/src/components/TeamEditor/TeamEditor.tsx
Due: typescript-check

refactor: use mindroom.models.Config in widget backend
  widget/backend/src/main.py
Due: none

refactor: make mindroom a proper dependency of widget backend
  widget/backend/pyproject.toml
  widget/backend/src/main.py
  widget/backend/uv.lock
Due: none

feat: Add database cleanup scripts for agent message edit history
  docker/synapse/modules/limit_edit_history.py
  scripts/README.md
  scripts/cleanup_agent_edits.py
  scripts/cleanup_agent_edits.sh
  scripts/cleanup_agent_edits_docker.sh
  scripts/cleanup_edit_history.sql
  src/mindroom/streaming_chunked.py
Due: mypy

fix: Remove unnecessary files from cleanup script addition
  docker/synapse/modules/limit_edit_history.py
  scripts/README.md
  scripts/cleanup_edit_history.sql
  src/mindroom/streaming_chunked.py
Due: mypy

refactor: rewrite cleanup script using Typer for cleaner CLI
  scripts/cleanup_agent_edits.py
Due: none

fix: Update cleanup scripts for production deployment
  scripts/cleanup_agent_edits_docker.sh
  scripts/setup_cleanup_cron.sh
Due: none

chore(backend): Remove outdated comment about config import
  widget/backend/src/main.py
Due: none

refactor: Simplify cleanup scripts to use single Python implementation
  scripts/cleanup_agent_edits_docker.sh
  scripts/setup_cleanup_cron.sh
Due: none

fix(scripts): make docker cleanup script more robust
  scripts/cleanup_agent_edits_docker.sh
Due: none

feat: add helper scripts for managing mindroom and widget services
  scripts/attach
  scripts/start
  scripts/stop
Due: none

fix: correct ANSI escape sequence handling in helper scripts
  scripts/attach
  scripts/start
  scripts/stop
Due: none

refactor: improve helper scripts with KDL layout and simple alternatives
  scripts/start
  scripts/start-simple
  scripts/stop-simple
  scripts/zellij-mindroom.kdl
Due: none

refactor(scripts): Enhance Zellij scripts with session cleanup and modes
  scripts/start
  scripts/zellij-mindroom.kdl
Due: none

refactor: switch from npm to pnpm for faster installs
  scripts/start
  scripts/start-simple
  scripts/stop-simple
  widget/frontend/pnpm-lock.yaml
  widget/run.sh
Due: none

chore: update Nix configs and scripts for pnpm
  widget/README.md
  widget/run_tests.sh
  widget/shell.nix
Due: none

docs: add note about pnpm build script warning
  widget/README.md
Due: none

chore(frontend): add pnpm-workspace.yaml with approved build scripts
  widget/frontend/pnpm-workspace.yaml
Due: none

fix(zellij): Set working directory to widget and correct command path
  scripts/zellij-mindroom.kdl
Due: none

refactor(scripts): simplify helper scripts and fix widget directory issue
  scripts/attach
  scripts/start
Due: none

refactor: complete npm to pnpm migration and update documentation
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  scripts/start
  take_screenshot.py
  widget/.gitignore
  widget/README.md
  widget/SCREENSHOT_INSTRUCTIONS.md
  widget/TESTING.md
  widget/WIDGET_INTEGRATION.md
  widget/take_screenshot.py
Due: none

fix(widget): use standalone pnpm package instead of nodePackages.pnpm
  widget/shell.nix
Due: none

fix(widget): add missing lib/utils.ts for UI components
  .gitignore
  widget/frontend/src/lib/utils.ts
Due: typescript-check

fix(widget): use pnpm exec vitest run to prevent test hanging
  widget/run_tests.sh
Due: none

feat(backend): Ensure deterministic ordering for config.yaml saves
  widget/backend/src/main.py
Due: none

feat: auto-reload agents when config.yaml changes
  src/mindroom/bot.py
Due: mypy

feat: add graceful shutdown for config reloads
  src/mindroom/bot.py
Due: mypy

feat: Make memory operations non-blocking using background tasks
  config.yaml
  src/mindroom/ai.py
  src/mindroom/background_tasks.py
  src/mindroom/bot.py
  tests/test_memory_integration.py
Due: mypy

feat(orchestrator): implement selective agent restart on config changes
  src/mindroom/bot.py
Due: mypy
