Repository mindroom-ai/mindroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript-check, check-package-lock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-yaml
      - id: debug-statements
      - id: check-ast

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.12.5"
    hooks:
      - id: ruff
        exclude: docs/source/conf.py|ipynb_filter.py
        args: ["--fix", "--exit-non-zero-on-fix"]
      - id: ruff-format
        exclude: docs/source/conf.py|ipynb_filter.py

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        files: ^src/|^matrix-ai-minimal/
        exclude: docs/source/conf.py
        pass_filenames: false
        args: [src]

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.6.0"
    hooks:
      - id: pyproject-fmt

  # TypeScript/JavaScript hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^widget/frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
        exclude: ^(widget/frontend/package-lock\.json|widget/frontend/tsconfig.*\.json|.*\.min\.(js|css))$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: ^widget/frontend/.*\.(js|jsx|ts|tsx)$
        args: ['--fix', '--config', 'widget/frontend/.eslintrc.json']
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/eslint-plugin@6.19.0'
          - '@typescript-eslint/parser@6.19.0'
          - 'eslint-plugin-react@7.33.2'
          - 'eslint-plugin-react-hooks@4.6.0'
          - 'eslint-config-prettier@9.1.0'
          - 'typescript@5.3.3'

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd widget/frontend && npm run type-check'
        language: system
        files: ^widget/frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: check-package-lock
        name: Check package-lock.json is up to date
        entry: bash -c 'cd widget/frontend && npm ls >/dev/null 2>&1'
        language: system
        files: ^widget/frontend/package\.json$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
        files: ^widget/frontend/.*\.json$
        exclude: ^(widget/frontend/tsconfig.*\.json)$
      - id: pretty-format-json
        args: ['--autofix', '--indent=2']
        files: ^widget/frontend/.*\.json$
        exclude: ^(widget/frontend/package(-lock)?\.json|widget/frontend/tsconfig.*\.json|widget/frontend/\.eslintrc\.json)$

test: Add tests for team and memory config components including scrollIntoView
  widget/frontend/src/components/MemoryConfig/MemoryConfig.test.tsx
  widget/frontend/src/components/RoomModels/RoomModels.test.tsx
  widget/frontend/src/components/TeamEditor/TeamEditor.test.tsx
  widget/frontend/src/components/TeamList/TeamList.test.tsx
  widget/frontend/src/store/configStore.test.ts
  widget/frontend/src/test/setup.ts
Due: typescript-check

feat: add dedicated Rooms page with bidirectional agent syncing
  widget/frontend/src/App.tsx
  widget/frontend/src/components/AgentEditor/AgentEditor.tsx
  widget/frontend/src/components/RoomEditor/RoomEditor.tsx
  widget/frontend/src/components/RoomList/RoomList.tsx
  widget/frontend/src/components/TeamEditor/TeamEditor.tsx
  widget/frontend/src/store/configStore.ts
  widget/frontend/src/types/config.ts
Due: typescript-check

test: add comprehensive tests for rooms functionality
  config.yaml
  widget/frontend/src/components/RoomEditor/RoomEditor.test.tsx
  widget/frontend/src/components/RoomList/RoomList.test.tsx
  widget/frontend/src/store/configStore.test.ts
Due: typescript-check

refactor: remove redundant Room Models from Settings
  widget/frontend/src/App.tsx
  widget/frontend/src/components/RoomModels/RoomModels.test.tsx
  widget/frontend/src/components/RoomModels/RoomModels.tsx
Due: typescript-check

feat(matrix): Add SSL verification bypass for development environments
  src/mindroom/matrix/client.py
  src/mindroom/matrix/ssl_helper.py
Due: mypy

test(multi_agent_bot): Mock MATRIX_HOMESERVER to use localhost in test
  tests/test_multi_agent_bot.py
Due: none

test: Fix test failures related to environment and memory config
  tests/test_memory_config.py
  tests/test_multi_agent_bot.py
Due: none

docs: Update .env.example with accurate environment variables
  .env.example
Due: none

docs: Clean up .env.example to only include used variables
  .env.example
Due: none

feat(config): Add router configuration and update default model to ollama
  config.yaml
Due: none

fix: Add back GOOGLE_API_KEY and DEEPSEEK_API_KEY to .env.example
  .env.example
Due: none

fix(test): Parse all agent mentions in message body for e2e test
  e2e_test.py
Due: none

fix(teams): Ensure complete display of team responses in Matrix
  src/mindroom/teams.py
Due: mypy

fix(cli): Use correct Matrix server name instead of hardcoded localhost
  src/mindroom/cli.py
Due: mypy

refactor(bot): reduce code duplication in team bot implementation
  src/mindroom/bot.py
Due: mypy

feat(teams): Enhance team response display with member contributions
  src/mindroom/teams.py
Due: mypy

refactor: Remove redundant router agent check in team responses
  src/mindroom/teams.py
Due: mypy

refactor(teams): simplify agent name indexing logic
  src/mindroom/teams.py
Due: mypy

fix(teams): Correct agent name indexing in team responses
  src/mindroom/teams.py
Due: mypy

feat(widget): add teams and room_models support to backend API
  widget/backend/src/main.py
Due: none

docs(teams): Document limitation in agent name mapping
  src/mindroom/teams.py
Due: mypy

refactor: Use agent_name attribute from RunResponse
  src/mindroom/teams.py
Due: mypy

test: fix widget frontend tests for teams support
  config.yaml
  widget/backend/tests/test_api.py
  widget/frontend/src/components/AgentEditor/AgentEditor.test.tsx
  widget/frontend/src/components/TeamEditor/TeamEditor.test.tsx
  widget/frontend/src/components/TeamList/TeamList.test.tsx
Due: typescript-check

feat(teams): Add universal recursive team response extraction
  src/mindroom/teams.py
Due: mypy

refactor: Simplify team extraction API
  src/mindroom/teams.py
Due: mypy

test: fix all remaining frontend test failures
  widget/frontend/src/components/AgentEditor/AgentEditor.test.tsx
  widget/frontend/src/components/MemoryConfig/MemoryConfig.test.tsx
  widget/frontend/src/components/RoomEditor/RoomEditor.test.tsx
  widget/frontend/src/components/RoomList/RoomList.test.tsx
  widget/frontend/src/components/TeamEditor/TeamEditor.test.tsx
Due: typescript-check

test: Add comprehensive tests for team extraction
  src/mindroom/teams.py
  tests/test_team_extraction.py
Due: mypy

fix(teams): improve team response display when consensus is missing
  src/mindroom/teams.py
Due: mypy

test: update tests to match new team response behavior
  tests/test_team_extraction.py
Due: none

fix: Replace localhost with SERVER_NAME and handle user exists error
  src/mindroom/cli.py
  src/mindroom/matrix/client.py
Due: mypy

fix: properly persist room_models to YAML when saving config
  config.yaml
  widget/frontend/src/store/configStore.ts
Due: typescript-check

feat(config): Add haiku model for research room
  config.yaml
Due: none

refactor(bot): Move TeamMode and get_team_model import to top level
  src/mindroom/bot.py
Due: mypy

refactor: extract room resolution helper functions to eliminate duplication
  src/mindroom/bot.py
  src/mindroom/matrix/__init__.py
  src/mindroom/matrix/rooms.py
  src/mindroom/teams.py
Due: mypy

fix: Add client initialization checks and error handling improvements
  src/mindroom/bot.py
  src/mindroom/cli.py
  src/mindroom/matrix/client.py
Due: mypy

feat(matrix): Add SSL support for client login
  src/mindroom/matrix/client.py
Due: mypy

fix(matrix): Handle remote Matrix server connection issues
  src/mindroom/matrix/client.py
  src/mindroom/matrix/ssl_helper.py
Due: mypy

refactor: Remove unnecessary ssl_helper module
  src/mindroom/matrix/ssl_helper.py
Due: mypy

Revert "refactor: Remove unnecessary ssl_helper module"
  src/mindroom/matrix/ssl_helper.py
Due: mypy

Revert "fix: Fix remote Matrix server connection issues"
  src/mindroom/matrix/client.py
  src/mindroom/matrix/ssl_helper.py
Due: mypy
