Repository mindroom-ai/mindroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript-check, check-package-lock

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  pass_filenames: false
  args:
  - src

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd widget/frontend && npm run type-check'
  language: system
  pass_filenames: false

check-package-lock:
  name: Check package-lock.json is up to date
  entry: bash -c 'cd widget/frontend && npm ls >/dev/null 2>&1'
  language: system
  pass_filenames: false

fix(integrations): Hide Configure button for no-setup tools
  widget/frontend/src/components/Integrations/Integrations.tsx
  widget/frontend/src/components/Integrations/integrations/types/index.ts
Due: typescript-check

feat(integrations): Add edit functionality and professional config dialog
  .github/workflows/e2e-tests.yml
  .gitignore
  mindroom/tools_metadata.json
  src/mindroom/tools.py
  src/mindroom/tools_metadata.py
  widget/backend/src/api/credentials.py
  widget/backend/src/api/tools.py
  widget/backend/src/main.py
  widget/backend/tests/test_credentials_api.py
  widget/frontend/TESTING.md
  widget/frontend/package.json
  widget/frontend/playwright-report/index.html
  widget/frontend/playwright.config.ts
  widget/frontend/pnpm-lock.yaml
  widget/frontend/src/components/Integrations/EnhancedConfigDialog.tsx
  widget/frontend/src/components/Integrations/GenericConfigDialog.tsx
  widget/frontend/src/components/Integrations/Integrations.tsx
  widget/frontend/src/components/Integrations/integrations/types/index.ts
  widget/frontend/src/components/ui/separator.tsx
  widget/frontend/src/components/ui/tooltip.tsx
  widget/frontend/src/hooks/useTools.ts
  widget/frontend/test-results/.last-run.json
  widget/frontend/tests/e2e/README.md
  widget/frontend/tests/e2e/edit-integration.spec.ts
  widget/frontend/tests/e2e/example-test-runner.cjs
  widget/frontend/tests/e2e/helpers/api.helper.ts
  widget/frontend/tests/e2e/helpers/config-dialog.helper.ts
  widget/frontend/tests/e2e/helpers/integrations.helper.ts
  widget/frontend/tests/e2e/integrations.spec.ts
  widget/frontend/tests/e2e/run-tests.sh
Due: mypy, typescript-check, check-package-lock

feat: Add mobile stack navigation with back button and responsive layout (#2)
  widget/frontend/src/App.tsx
  widget/frontend/src/components/AgentEditor/AgentEditor.tsx
  widget/frontend/src/components/Dashboard/Dashboard.tsx
  widget/frontend/src/components/RoomEditor/RoomEditor.tsx
  widget/frontend/src/components/TeamEditor/TeamEditor.tsx
  widget/frontend/src/components/shared/EditorPanel.tsx
Due: typescript-check

feat(tools): add helper_text to tool configs and migrate IMDb
  mindroom/tools_metadata.json
  src/mindroom/tools.py
  src/mindroom/tools_metadata.py
  widget/frontend/src/components/Integrations/EnhancedConfigDialog.tsx
  widget/frontend/src/components/Integrations/GenericConfigDialog.tsx
  widget/frontend/src/components/Integrations/Integrations.tsx
  widget/frontend/src/components/Integrations/integrations/imdb/IMDbConfigWrapper.tsx
  widget/frontend/src/components/Integrations/integrations/imdb/imdb.test.tsx
  widget/frontend/src/components/Integrations/integrations/imdb/index.tsx
  widget/frontend/src/components/Integrations/integrations/index.ts
  widget/frontend/src/components/Integrations/integrations/types/index.ts
  widget/frontend/src/hooks/useTools.ts
Due: mypy, typescript-check

fix: Resolve test failures after helper_text feature implementation
  tests/test_tool_dependencies.py
  widget/frontend/src/components/Integrations/Integrations.test.tsx
  widget/frontend/src/components/Integrations/Integrations.tsx
Due: typescript-check

feat: Add mobile-friendly navigation and forms (PR 3 & 4)
  widget/frontend/src/App.tsx
  widget/frontend/src/components/AgentEditor/AgentEditor.tsx
  widget/frontend/src/components/RoomEditor/RoomEditor.tsx
  widget/frontend/src/components/TeamEditor/TeamEditor.tsx
  widget/frontend/src/components/shared/FieldGroup.tsx
Due: typescript-check

fix(test): Exclude E2E tests from Vitest to resolve runner conflicts
  widget/frontend/vitest.config.ts
Due: typescript-check

fix(e2e): ensure ApiHelper receives request context instead of page
  widget/frontend/tests/e2e/edit-integration.spec.ts
Due: typescript-check

chore(gitignore): Add Playwright test results directories
  .gitignore
Due: none

feat(mobile): Add swipe-back navigation and improve mobile dialog responsiveness (#5)
  widget/frontend/src/components/AgentEditor/AgentEditor.tsx
  widget/frontend/src/components/RoomEditor/RoomEditor.tsx
  widget/frontend/src/components/TeamEditor/TeamEditor.tsx
  widget/frontend/src/components/ToolConfig/ToolConfigDialog.tsx
  widget/frontend/src/hooks/useSwipeBack.ts
  widget/frontend/src/index.css
Due: typescript-check

fix: revert mobile dropdown navigation to prettier tab bar
  widget/frontend/src/App.tsx
Due: typescript-check

fix: remove vertical scroll from tab navigation bar
  widget/frontend/src/App.tsx
Due: typescript-check

fix: restore tab navigation to match original styling
  widget/frontend/src/App.tsx
Due: typescript-check

chore(frontend): Remove E2E tests and Playwright dependencies
  .github/workflows/e2e-tests.yml
  widget/frontend/TESTING.md
  widget/frontend/package.json
  widget/frontend/playwright-report/index.html
  widget/frontend/playwright.config.ts
  widget/frontend/pnpm-lock.yaml
  widget/frontend/test-results/.last-run.json
  widget/frontend/tests/e2e/README.md
  widget/frontend/tests/e2e/edit-integration.spec.ts
  widget/frontend/tests/e2e/example-test-runner.cjs
  widget/frontend/tests/e2e/helpers/api.helper.ts
  widget/frontend/tests/e2e/helpers/config-dialog.helper.ts
  widget/frontend/tests/e2e/helpers/integrations.helper.ts
  widget/frontend/tests/e2e/integrations.spec.ts
  widget/frontend/tests/e2e/run-tests.sh
Due: typescript-check, check-package-lock

feat(tools): Add brand-specific icon colors for GitHub, eBay, and HBO
  src/mindroom/tools.py
Due: mypy

fix(test): Update health endpoint paths to /api/health in backend tests
  widget/backend/tests/test_api.py
  widget/backend/tests/test_file_watcher.py
Due: none

fix(tools): Ensure all tools have proper icon colors
  mindroom/tools_metadata.json
  src/mindroom/tools.py
Due: mypy

feat(integrations): Add new icon mappings for various brands
  widget/frontend/src/components/Integrations/iconMapping.tsx
Due: typescript-check

fix(ModelConfig): Correct React hooks order error
  widget/frontend/src/components/ModelConfig/ModelConfig.tsx
Due: typescript-check

refactor(ui): Migrate filter controls to use shared FilterSelector component
  widget/frontend/src/components/Dashboard/Dashboard.tsx
  widget/frontend/src/components/Integrations/Integrations.tsx
  widget/frontend/src/components/ModelConfig/ModelConfig.tsx
Due: typescript-check

feat(components): Add shared FilterSelector component
  widget/frontend/src/components/shared/FilterSelector.tsx
Due: typescript-check

test(tool_config_sync): Add comprehensive type and name verification for tool ConfigFields
  tests/test_tool_config_sync.py
Due: none

feat(github): Add comprehensive configuration options for GitHub tool
  src/mindroom/tools.py
  src/mindroom/tools_metadata.py
  tests/test_tool_config_sync.py
Due: mypy

feat(tools): Add GitHub and calculator tools with module migration
  .claude/agents/configfield-generator.md
  mindroom/tools_metadata.json
  src/mindroom/tools/__init__.py
  src/mindroom/tools/calculator.py
  src/mindroom/tools/github.py
  tools/CONFIGFIELD_GENERATION_PROMPT.md
Due: mypy

refactor(tools): Move tool definitions to individual modules and update imports
  src/mindroom/agents.py
  src/mindroom/tools/__init__.py
  src/mindroom/tools/arxiv.py
  src/mindroom/tools/csv.py
  src/mindroom/tools/docker.py
  src/mindroom/tools/duckduckgo.py
  src/mindroom/tools/email.py
  src/mindroom/tools/file.py
  src/mindroom/tools/googlesearch.py
  src/mindroom/tools/jina.py
  src/mindroom/tools/newspaper.py
  src/mindroom/tools/pandas.py
  src/mindroom/tools/python.py
  src/mindroom/tools/reddit.py
  src/mindroom/tools/shell.py
  src/mindroom/tools/slack.py
  src/mindroom/tools/tavily.py
  src/mindroom/tools/telegram.py
  src/mindroom/tools/website.py
  src/mindroom/tools/wikipedia.py
  src/mindroom/tools/x.py
  src/mindroom/tools_metadata.py
  tests/test_tool_config_sync.py
Due: mypy

refactor(tools): Update and standardize configuration metadata for various tools
  mindroom/tools_metadata.json
  src/mindroom/tools/arxiv.py
  src/mindroom/tools/csv.py
  src/mindroom/tools/duckduckgo.py
  src/mindroom/tools/email.py
  src/mindroom/tools/googlesearch.py
  src/mindroom/tools/jina.py
  src/mindroom/tools/reddit.py
  src/mindroom/tools/slack.py
  src/mindroom/tools/telegram.py
  src/mindroom/tools/website.py
  src/mindroom/tools/wikipedia.py
  tests/test_tool_config_sync.py
  tests/test_tools_metadata.py
Due: mypy

docs(tools): Update ConfigField generation prompt to permit __init__.py imports
  .claude/agents/configfield-generator.md
  tools/CONFIGFIELD_GENERATION_PROMPT.md
Due: none

Revert "."
  .claude/agents/configfield-generator.md
  tools/CONFIGFIELD_GENERATION_PROMPT.md
Due: none

feat(tools): Add yfinance and youtube tools
  src/mindroom/tools/__init__.py
  src/mindroom/tools/yfinance.py
  src/mindroom/tools/youtube.py
  tests/test_tool_dependencies.py
Due: mypy

feat(tools): Add multiple new tool integrations for communication and data processing
  mindroom/tools_metadata.json
  src/mindroom/tools/__init__.py
  src/mindroom/tools/discord.py
  src/mindroom/tools/duckdb.py
  src/mindroom/tools/exa.py
  src/mindroom/tools/firecrawl.py
  src/mindroom/tools/hackernews.py
  src/mindroom/tools/openai.py
  src/mindroom/tools/pubmed.py
  src/mindroom/tools/resend.py
  src/mindroom/tools/serpapi.py
  src/mindroom/tools/sleep.py
  src/mindroom/tools/sql.py
  src/mindroom/tools/twilio.py
  src/mindroom/tools/whatsapp.py
Due: mypy

fix(docs): Correct toolkit category URLs in metadata and tool files
  mindroom/tools_metadata.json
  src/mindroom/tools/discord.py
  src/mindroom/tools/duckdb.py
  src/mindroom/tools/exa.py
  src/mindroom/tools/firecrawl.py
  src/mindroom/tools/hackernews.py
  src/mindroom/tools/openai.py
  src/mindroom/tools/pubmed.py
  src/mindroom/tools/resend.py
  src/mindroom/tools/serpapi.py
  src/mindroom/tools/sql.py
  src/mindroom/tools/twilio.py
  src/mindroom/tools/whatsapp.py
  src/mindroom/tools/yfinance.py
Due: mypy

feat(configfield-generator): Enhance agent with documentation fetching
  .claude/agents/configfield-generator.md
  tools/CONFIGFIELD_GENERATION_PROMPT.md
Due: none

docs(configfield): Improve ConfigField generation instructions with URL and CLAUDE.md details
  tools/CONFIGFIELD_GENERATION_PROMPT.md
Due: none

docs: Update config prompts with project context and dependency updates
  .claude/agents/configfield-generator.md
  tools/CONFIGFIELD_GENERATION_PROMPT.md
Due: none

feat(tools): Add Webex, Fal, and various search tools
  mindroom/tools_metadata.json
  pyproject.toml
  src/mindroom/tools/__init__.py
  src/mindroom/tools/agentql.py
  src/mindroom/tools/baidusearch.py
  src/mindroom/tools/brave_search.py
  src/mindroom/tools/brightdata.py
  src/mindroom/tools/browserbase.py
  src/mindroom/tools/crawl4ai.py
  src/mindroom/tools/linkup.py
  src/mindroom/tools/modelslabs.py
  src/mindroom/tools/newspaper4k.py
  src/mindroom/tools/openbb.py
  src/mindroom/tools/oxylabs.py
  src/mindroom/tools/scrapegraph.py
  src/mindroom/tools/searxng.py
  src/mindroom/tools/serper.py
  src/mindroom/tools/spider.py
  src/mindroom/tools/trello.py
  src/mindroom/tools/webex.py
  src/mindroom/tools/zendesk.py
  src/mindroom/tools/zoom.py
  uv.lock
Due: mypy

fix(tools): Remove unused tool configurations to resolve lint issues
  mindroom/tools_metadata.json
  pyproject.toml
  src/mindroom/tools/__init__.py
  src/mindroom/tools/composio.py
  uv.lock
Due: mypy

refactor(Integrations): Dynamically load icons from backend metadata
  widget/frontend/src/components/Integrations/Integrations.test.tsx
  widget/frontend/src/components/Integrations/Integrations.tsx
  widget/frontend/src/components/Integrations/iconMapping.tsx
Due: typescript-check

chore(deps): Update dependency versions in lock files
  uv.lock
  widget/backend/uv.lock
Due: none

Path conditions:
  mypy: any of: ^src/|^matrix-ai-minimal/ and \.py$ and not (docs/source/conf.py)
  typescript-check: any of: ^widget/frontend/.*\.(ts|tsx)$
  check-package-lock: any of: ^widget/frontend/package\.json$
